.container {
  width: 100%;
  height: 100vh;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png');
}

.container-extra {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png');
  align-content: center;
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-store-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-grow: 1
}

.login-container,
.continuar-container,
.register-container {
  width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid white;
  padding-inline: 1.25rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  padding: 25px;
  background-color: rgba(240, 240, 240, 0.6);
}

.register-container {
  height: 530px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-form input {
  margin: 5px 0;
  padding: 5px;
  width: 400px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.auth-form button,
.btn-lol {
  cursor: pointer;
  background-color: #3c3c3c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 410px;
  height: 30px;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s;
  line-height: 10px;
}

.auth-form button:hover,
.btn-lol:hover {
  opacity: 0.8;
}

.auth-form button:disabled {
  cursor: not-allowed;
}

.auth-form-label {
  width: 410px;
  font-weight: 500;
}

.login-input{
  color: rgb(0, 0, 0);
  height: 28px;
  width: 50px;
  background-color: none;
  border: none;
  outline: none;
  flex-grow: 1;
}

.input-box {
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 15px;
  align-items: center;
  position: relative;
  padding: 5px;
}

.input-box2 {
  background-color: white;
  border: 2px solid #c6c6c6;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.input-box i {
  display: flex;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.input-box2 i {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.login-input2 {
  width: calc(100% - 40px);
  padding-right: 30px;
  box-sizing: border-box;
  height: 28px;
  border: none;
  outline: none;
  margin-left: 10px;
}

.auth-form-logo-container {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.logo-text {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 800;
}

.auth-form-switch-label {
  color: #333333;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  padding-top: 5px;
}

.auth-form-switch-label:hover {
  opacity: 0.8;
}